@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<style>
    .form-box {
        max-width: 300px;
        background: #f1f7fe;
        overflow: hidden;
        border-radius: 16px;
        color: #010101;
    }

    .form {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 32px 24px 24px;
        gap: 16px;
        background-color: #f1f7fe;
        color: #010101;
        text-align: center;
    }

    /*Form text*/
    .title {
        font-weight: bold;
        font-size: 1.6rem;
    }

    .subtitle {
        font-size: 1rem;
        color: #666;
    }

    /*Inputs box*/
    .form-container {
        border-radius: 8px;
        background-color: #f1f7fe;
        margin: 1rem 0 .5rem;
        width: 100%;
    }

    .input {
        background: none;
        border: 0;
        outline: 0;
        height: 40px;
        width: 100%;
        border-bottom: 1px solid #eee;
        font-size: .9rem;
        padding: 8px 15px;
        border: 0;
        margin: 2px;
    }

    .form-section {
        padding: 16px;
        font-size: .85rem;
        background-color: #e0ecfb;
        box-shadow: rgb(0 0 0 / 8%) 0 -2px;
    }

        .form-section input {
            font-weight: bold;
            color: #0066ff;
            transition: color .3s ease;
        }

            .form-section input:hover {
                color: #005ce6;
                text-decoration: underline;
            }

    .form button {
        background-color: #0066ff;
        color: #fff;
        border: 0;
        border-radius: 24px;
        padding: 10px 16px;
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;
        transition: background-color .3s ease;
    }

        .form button:hover {
            background-color: #005ce6;
        }
</style>

<div style="display: grid; justify-content: center; align-content: center; padding-top: 150px;">
    <div class="form-box">

        <form class="form" id="account" method="post">
            <h1 class="title">@ViewData["Title"]</h1>
            <h2 class="subtitle">Use a local account to log in.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-container">
                <input asp-for="Input.Email" class="input" autocomplete="username" aria-required="true" placeholder="Email" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                <br />
                <br />
                <input asp-for="Input.Password" class="input" autocomplete="current-password" aria-required="true" placeholder="Password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
                <br />
                <br />
                <label asp-for="Input.RememberMe" class="form-label">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
            <div>
                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
            </div>
        </form>
        <div class="form-section">
            <p>Don't have an account? <a asp-area="Identity" asp-page="/Account/Register">Register</a> </p>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
